@import "weather-icons.css";
html {
    --progress-width: 200px;
}

#weatherCard .card-content > div {
    display: flex;
    flex-flow: column;
}
#weatherCard .card-content > div > div {
    align-self: center;
}
.wi {
    font-size: 36pt;
    margin-top: 5px;
    color: var(--header-background);
}

.weatherProgressContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 95%;
}

.weatherProgressContainer progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: var(--progress-width);
    height: 15px;

}

.weatherProgressContainer progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.weatherProgressContainer progress[value]::-webkit-progress-value {
    background-size: var(--progress-width) 15px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.10) inset;
    border-radius: 2px;
}

.temperatureContainer progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #aaaaff, #ff8888);
}

.humidityContainer progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #eeeeee, #3333ff);
}

.cloudContainer progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #eeeeee, #999999);
}

.tempMinText {
    background: var(--min-temperature-color);
    margin-right: 3px;
}

.weatherBadge {
    border-radius: 5px;
    padding: 3px 4px;
    font-size: 10pt;
    font-weight: bold;
    text-shadow: 1px 1px var(--shadow-color);
    color: var(--content-background);
    box-shadow: 2px 2px 2px 0 var(--shadow-color);
}

.tempMaxText {
    background: var(--max-temperature-color);
    margin-left: 3px;
}

.currentTempText {
    background: var(--current-temp-color);
}

.humidityText {
    background: #3333ff;
    margin-left: 3px;
}

.cloudText {
    background: #aaaaaa;
    margin-left: 3px;
}