.mStatus {
  margin: 10px;
  background-color: var(--content-background);
  padding: 5px;
}

.mAuthorUser {
  font-size: 8pt;
  color: grey;
  margin-left: 5px;
}

.mCreated {
  float: right;
  font-size: 10pt;
}
