.mStatus {
  margin: 10px;
  background-color: var(--content-background);
  padding: 5px;
}

.mAuthorUser {
  font-size: 8pt;
  color: grey;
  margin-left: 5px;
}
.mAuthor {
  float: left;
}

.mCreated {
  float: right;
  font-size: 10pt;
}
.mAuthorLink {
  color: grey;
}
.mAuthorLink:hover {
  text-decoration: none;
}
.mLink {
  color: grey;
  font-size: 10pt;
}
.mLink:hover {
  text-decoration: none;
}
.mImg {
  max-width: 100%;
}
.mAuthorImgBox {
  max-height: 40px;
  margin-right: 2px;
  float: left;
}
.mAuthorImg {
  max-height: 40px;
}
.mStatusPrefix {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
