#rssCard {
    display: flex;
    flex-flow: column;
}

#rssCard article {
    border-bottom: #d7e8f8 solid 1px;
    background-color: var(--content-background);
    border-radius: 4px;
    padding-left: 7px;
    width: 95%;
}

#rssCard img {
    width: 95%;
    border-radius: 3px;
}

#rssCard h1 a {
    font-size: 14pt;
    color: var(--content-text-color);
}